<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /workspace/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /workspace/index.html [L]
</IfModule>
